@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>이름 : 김 기현</p>
<p>생년월일 : 1996/01/15</p>
<p>사는곳 : 경기도 김포시</p>
<p>그 외 : </p>

<address>
    집<br />
    경기도 김포시<br />
    <abbr title="Phone">P:</abbr>
    010.8648.****
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>