@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Who is he?</h1>
    <p class="lead">Are you interested in him?</p>
    <p><a href="https://localhost:44310/Home/About" class="btn btn-primary btn-lg">Let's find out more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>그의 일반사항?</h2>
        <p>
           평범하지만 볼 만 하다
        </p>
        <p><a class="btn btn-default" href="https://localhost:44310/Home/Contact">보러가자~ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>그의 경력?</h2>
        <p>초년생에게 많은 것을 바라지마!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">그래도 봐주세요~ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>